@using CoreDemo.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th> #   </th>
        <th> Adı   </th>
        <th> Sil   </th>
        <th> Düzenle   </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.ID </td>
            <td> @item.Name </td>
            <td> <a href="/EmployeeTest/DeleteEmployeeTest/@item.ID" class="btn btn-outline-danger">Sil</a></td>
            <td> <a href="/EmployeeTest/EditEmployeeTest/@item.ID" class="btn btn-outline-info ">Düzenle</a></td>

        </tr>
    }
</table>
<a href="/EmployeeTest/AddEmployee/" class="btn btn-primary ">Yeni Çalışan  Ekle</a>


@*@section scripts
    {
        <script>
        </script>
    }*@


